<section class="section">
  <div class="rows">
    <div class="card" [routerLink]="['/admin', 'users']">
        <div class="card-header">
            <i class="fa fa-users fa-5x"></i>
            <span class="users-count">{{usersCount}}</span>
        </div>
        <div class="card-footer">
            <span class="footer-text">View users</span>
            <i class="fa fa-arrow-right"></i>
        </div>
    </div>
    <div class="card" [routerLink]="['/admin', 'challenges']">
        <div class="card-header">
            <i class="fa fa-flash fa-5x"></i>
            <span class="users-count">{{challengesCount}}</span>
        </div>
        <div class="card-footer">
            <span class="footer-text">View challenges</span>
            <i class="fa fa-arrow-right"></i>
        </div>
    </div>
    <div class="card" [routerLink]="['/admin', 'articles']">
        <div class="card-header">
            <i class="fa fa-archive fa-5x"></i>
            <span class="users-count">{{articlesCount}}</span>
        </div>
        <div class="card-footer">
            <span class="footer-text">View articles</span>
            <i class="fa fa-arrow-right"></i>
        </div>
    </div>
  </div>
</section>
